/*
   terça-feira, 5 de outubro de 202119:39:14
   Usuário: 
   Servidor: DESKTOP-TGM65RF
   Banco de Dados: sistema_bancario
   Aplicativo: 
*/

/* Para impedir possíveis problemas de perda de dados, analise este script detalhadamente antes de executá-lo fora do contexto do designer de banco de dados.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.HISTORICO
	DROP CONSTRAINT FK__HISTORICO__Cpf_c__1AD3FDA4
GO
ALTER TABLE dbo.CLIENTE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_CONTA
	(
	Numero_conta char(7) NOT NULL,
	Saldo varchar(20) NOT NULL,
	Tipo_conta varchar(1) NOT NULL,
	Num_agencia varchar(5) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_CONTA SET (LOCK_ESCALATION = TABLE)
GO
IF EXISTS(SELECT * FROM dbo.CONTA)
	 EXEC('INSERT INTO dbo.Tmp_CONTA (Numero_conta, Saldo, Tipo_conta, Num_agencia)
		SELECT CONVERT(char(7), Numero_conta), Saldo, Tipo_conta, Num_agencia FROM dbo.CONTA WITH (HOLDLOCK TABLOCKX)')
GO
ALTER TABLE dbo.HISTORICO
	DROP CONSTRAINT FK__HISTORICO__Num_c__19DFD96B
GO
DROP TABLE dbo.CONTA
GO
EXECUTE sp_rename N'dbo.Tmp_CONTA', N'CONTA', 'OBJECT' 
GO
ALTER TABLE dbo.CONTA ADD CONSTRAINT
	PK__CONTA__C281BD6F899D0764 PRIMARY KEY CLUSTERED 
	(
	Numero_conta
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_HISTORICO
	(
	Cpf_cliente varchar(14) NOT NULL,
	Num_conta char(7) NOT NULL,
	data_inicio date NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_HISTORICO SET (LOCK_ESCALATION = TABLE)
GO
IF EXISTS(SELECT * FROM dbo.HISTORICO)
	 EXEC('INSERT INTO dbo.Tmp_HISTORICO (Cpf_cliente, Num_conta, data_inicio)
		SELECT Cpf_cliente, CONVERT(char(7), Num_conta), data_inicio FROM dbo.HISTORICO WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.HISTORICO
GO
EXECUTE sp_rename N'dbo.Tmp_HISTORICO', N'HISTORICO', 'OBJECT' 
GO
ALTER TABLE dbo.HISTORICO ADD CONSTRAINT
	FK__HISTORICO__Num_c__19DFD96B FOREIGN KEY
	(
	Num_conta
	) REFERENCES dbo.CONTA
	(
	Numero_conta
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.HISTORICO ADD CONSTRAINT
	FK__HISTORICO__Cpf_c__1AD3FDA4 FOREIGN KEY
	(
	Cpf_cliente
	) REFERENCES dbo.CLIENTE
	(
	Cpf
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
